<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <%= text_field_tag :search, params[:search] %>
    <a href="/intro">Referência</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
</nav>

<div class="col-sm-3">
  <!-- Left column -->

  <!--tabs-->
  <div class="container">
    <div class="col-md-4">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active">
          <a href="#tags" data-toggle="tab">Tags</a>
        </li>
        <li>
          <a href="#pages" data-toggle="tab">Templates</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tags">
          <ul id="tags-sidebar"></ul>
        </div>
        <div class="tab-pane" id="pages">
          <ul id="pages-sidebar"></ul>
        </div>
      </div>
    </div>
  </div>

  <!--/tabs-->
</div>
<script>
    var tags = <%= raw @tags %>;
    var pages = <%= raw @pages %>;
</script>

<script id="tag-template" type="text/x-handlebars-template">
  <li><a href="/tag/{{tag_name}}" class="item {{type_of}}" data-remote="true">{{tag_name}}</a></li>
</script>

<script id="page-template" type="text/x-handlebars-template">
  <li>
    <a href="/page/{{name}}" class="item {{file_path}}" data-remote="true">{{name}}.html.curly</a>
  </li>
</script>