<div class="col-sm-3">
  <!-- Left column -->

  <!--tabs-->
  <div class="container">
    <div class="col-md-4">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active">
          <a href="#pages" data-toggle="tab">Templates</a>
        </li>
        <li>
          <a href="#tags" data-toggle="tab">Tags</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="pages">
          <% Content.all.each do |content| %>
              <ul>
                <li>
                  <h5><%= content.name %></h5>
                  <% content.pages.each do |page| %>
                    <li><%= link_to page.system_name, page %></li>
                <% end %>
                </li>
              </ul>
          <% end %>
        </div>
        <div class="tab-pane" id="tags">
          <ul>
            <% Tag.order(tag_name: :asc).all.each do |tag| %>
                <li><%= link_to tag.tag_name, tag %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--/tabs-->
</div>